/*accordion*/
dl.accordion dt {
  background: #333;
  cursor: pointer;
  border-bottom: 1px solid #fff;
  word-wrap:break-word;
}
dl.accordion dt {
  display: block;
  padding: 10px 30px 10px 10px;
  color: #fff;
  font-size: 15px;
}
dl.accordion dt::before {
  content: '';
  position: relative;
  float: right;
  border: 8px solid transparent;
  border-top-color: #fff;
  width: 0;
  height: 0;
  top: 5px;
  right: -20px;
}
dl.accordion dt.open::before {
  content: '';
  position: relative;
  float: right;
  border: 8px solid transparent;
  border-bottom-color: #fff;
  width: 0;
  height: 0;
  top: -5px;
  right: -20px;
}
dl.accordion dd {
  word-wrap:break-word;
}
dl.accordion dd ul li {
  border-bottom: 1px solid #f2f2f3;
  list-style: none;
}
dl.accordion dd ul li a {
  color: #333;
  display: block;
  padding: 10px 30px 10px 15px;
}
dl.accordion dd ul li a::before {
  content: '';
  position: relative;
  float: right;
  border: 8px solid transparent;
  border-left-color: #333;
  width: 0;
  height: 0;
  top: 0;
  right: -25px;
}

form.box01 {
	margin: 0 auto;
	border-radius: 20px; 
	width: 500px; 
	height: 400px;
	padding: 10px; 
	border: 1px solid black;
	background-color: white;
} 